#admin-animated-parakeet {
	// Layout checkbox specific style.
	.animated-parakeet-layout-checkbox {
		input[type="checkbox"] {
			width: 0px;
			height: 0px;
			padding: 0px;
			border: 0px;
			overflow: hidden;
			margin: 0px;
			min-width: 0px;

			& + label {
				font-size: 0px;

				span {
					display: block;
					float: left;
					width: 100px;
					height: 69px;
					background-size: 90%;
					background-position: center;
					background-repeat: no-repeat;
					box-sizing: border-box;
					margin-right: 10px;
				}
				.default {
					background-image: url( '../images/default.png' );
					background-color: #2271b1;
					transition: all ease-in-out 0.3s;
				}

				.background {
					background-image: url('../images/background.png');
					background-color: transparent;
					transition: all ease-in-out 0.3s;
				}
			}

			&:checked + label {
				.default {
					color: inherit;
					background-color: transparent;
					transition: all ease-in-out 0.3s;
				}

				.background {
					color: white;
					background-color: #2271b1;
					transition: all ease-in-out 0.3s;
				}
			}
		}
	}
	// Position checkbox specific style.
	.animated-parakeet-position-checkbox {
		display: inline-block;
		border: 1px solid #9d9d9d;
		border-radius: 5px;
		padding: 3px;

		// Setup the label style.
		label {

			span {
				display: inline-block;
				width: 100px;
				text-align: center;
				padding: 15px 0 15px 0;
				border-radius: 3px;
			}
		}

		input[type="checkbox"] {
			width: 0px;
			height: 0px;
			padding: 0px;
			border: 0px;
			overflow: hidden;
			margin: 0px;
			min-width: 0px;

			& + label{
				.top{
					color: white;
					background-color: #2271b1;
					transition: all ease-in-out 0.3s;
				}
				.bottom {
					background-color: transparent;
					transition: all ease-in-out 0.3s;
				}
			}

			&:checked + label{
				.top {
					color: inherit;
					background-color: transparent;
					transition: all ease-in-out 0.3s;
				}

				.bottom {
					color: white;
					background-color: #2271b1;
					transition: all ease-in-out 0.3s;
				}
			}
		}
	}

	// Display options.
	#display-conditions{
		border-top: 1px solid #9d9d9d;
		border-bottom: 1px solid #9d9d9d;
		margin-bottom: 20px;
		max-width: 400px;

		.display-condition {
			padding: 20px 0;
			border-top: 1px dashed #9d9d9d;
			display: flex;
			&:first-child {
				border-top: 0px;
			}

			// Trash icon.
			.remove-condition {
				width: 40px;
				height: 40px;
				line-height: 40px;
				cursor: pointer;
				color: #ce2121;
			}

			// Select list style.
			select {
				width: 100%;
			}
		}
	}	

	// Button style.
	#add-condition {
		width: 100%;
		max-width: 400px;
		text-align: center;
		background-color: #ccc;
		border-color: #2271b1;
		color: #2271b1;
		padding: 10px 0;
		border-style: solid;
		&:hover{
			background-color: #2271b1;
			color: #fff;
			cursor: pointer;
		}
	}
}
