#animated-parakeed-product-notice{
	width: 280px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;

	// Add to cart title style.
	h5 {
		width: 100%;
	}

	// Image specific style.
	img {
		width: 100px;
		height: auto;
	}

	// Product title style.

	// Produce price style.
}
